html {
    scroll-behavior: smooth;
  }
*
{
    margin: 0;
    padding: 0;
    font-family: "DM Serif Display", serif;
}
#section
{
    position: relative;
    width: 100%;
    /* height: 20vh;  (height from the nav bar to next div) */
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 0px 100px;
}
nav ul li 
{
 list-style: none;
 display: inline;
 margin: 0px 30px 0px 0px;
 
}
nav ul li a
{
    text-decoration: none;
    color: black;
    font-size: 2ch;
    font-weight: 500;
    position: sticky;
    top: 3px;
}
nav ul li a:hover
{
    color: red;
    text-decoration: underline;
}
.home
{
    margin: 50px 0px 0px 50px;
    position: relative;
}
.home-content
{
    margin-top: 185px;
}
.homehead h1
{
    font-family: "Amatic SC", serif;
    font-size: 60px;
}
.homehead h1 span
{
    font-family: "Amatic SC", serif;
    color: orange;
}
.para
{
    line: height 1;
}

#download
{
    border: 2px;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    display:inline-block;
    margin-top: 20px;
}
.home-image
{
    height: 75%;
    width: 45%;
    position: absolute;
    right: 30px;
    bottom: 0px;
}
.group
{
    margin-top: 100px;
    position: absolute;
    height: 270%;
    bottom: 10%;
    left: 50%;
    transform: translate(-100%);
    transition: bottom 1.5s, left 3s;
   

}
.home-image:hover #shape
{
    bottom: 50px;
}
.home-image:hover #girl
{
    left: 60%
}

#about{
    margin-top: 5%;
}

.section-head{
    text-align: center;
}

.abt-h2{
    font-size: 30px;
}

.abt-span{
    color: green;
    font-size: 20px;
}

.about-body{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 16px;
    align-items: center;
    margin: 100px;
    text-align: center;
}

.abt-para{
    text-align: justify;
    font-size: 15px;
}

.information{
    margin-top: 10px;
}

.abt-img{
    width: 80%;
}

.sp{
    margin-left: 7px;
}


/* .scale{
    display: grid;
    grid-template-columns: 80% 10% auto;
    width: 80%;
    height: 5px;
    background-color: orange;
}

.html1{
    width: 100%;
    height: 5px;
    background-color: rgb(171, 59, 59);
} */

.skill-div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-top: 20px;
    margin-left: 100px;
    justify-content: space-around;
    align-items: center;
}

.bars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 0px;
}

.base_bar{
    bottom: 0;
    position: absolute;
    height: 7px;
    width: 100%;
    background-color: black;
    border-radius: 7px;
}

.html_bar{
    background-color: orange;
    width: 89%;
}

.css_bar{
    background-color: orange;
    width: 69%;
}

.js_bar{
    background-color: orange;
    width: 50%;
}

.react_bar{
    background-color: orange;
    width: 72%;
}

.icon_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.anim{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.brand{
    color: rgb(0, 0, 0);
    font-size: 30px; 
}

.anim:hover{
    background-image: linear-gradient(to bottom,pink,cyan,yellow);
    animation: rotate 4s;
}

@keyframes rotate {
    0%{transform: rotate(30deg);}
    20%{transform: rotate(-30deg);}
    40%{transform: rotate(30deg);}
    60%{transform: rotate(-30deg);}
    80%{transform: rotate(30deg);}
    100%{transform: rotate(-30deg);}
}

.anim:hover .brand{
    color:white;
}

#copy{
    text-align: center;
    margin-top: 40px;
}

.up-arrow{
    float: right;
    margin: 0px 30px 30px 0px;
}

.navi{
    position: fixed;
    right: 5px; 
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(227, 226, 226);
    /* border-radius: 10px; */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(213, 109, 29);
    border-radius: 10px;
  }